* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cell {
    width: 100%;
    padding: 0;
    font-size: 24px;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; /* Adjust the height as needed */
}

.cell:hover {
    background-color: #ddd;
}

.message {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.reset-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: #45a049;
}

/* Media query for smaller screens (phones) */
@media (max-width: 600px) {
    .container {
        margin: 0 20px; /* Add margin on the X-axis for smaller screens */
    }
}
